{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
   
{% endblock %}

{% block content %}

<div class="overlay"></div>

<!-- Cart Table -->
<div class="section" id="shopping-cart">
    <div class="container min-vh-60">
        <div class="row">
            <div class="col mt-3">
                <h2 class="mb-4">Shopping Cart</h2>
            </div>
        </div>
        {% if cart_items %}
            <!-- Start Mobile Cart View -->
            <div class="row d-block d-lg-none">
                <div class="product-container col-11 mx-auto">
                    {% for item in cart_items %}
                        <div class="row">
                            <!-- Product Gallery -->
                            <div class="col-lg-6 lightbox-gallery product-gallery">
                                {% if item.product.image %}
                                    <a href="{{ item.product.image.url }}" data-toggle="lightbox">
                                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" title="">
                                    </a>
                                {% else %}
                                    <a href="{{ MEDIA_URL }} noimage.png">
                                        <img class="img-fluid" src="{{ MEDIA_URL }} noimage.png" alt="{{ item.product.name }}"  title="">
                                    </a>
                                {% endif %}
                            </div>
                            <!-- End Product Gallery -->
                            <!-- Product Details -->
                            <div class="col-lg-6">
                                <div class="product-detail pt-4">
                                    <div class="products-title mb-2">
                                        <h1 class="h4">{{ item.product.name }}</h1>
                                    </div>
                                    <div class="product-name">
                                        <p>{{ item.product.sku | upper }}</p>
                                    </div>
                                    <div class="product-price fs-3 fw-500 mb-2">
                                        <span class="text-primary">${{ item.product.price }}</span>
                                    </div>
                                    <form class="form update-form" data-form="{{ item.item_id }}" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="product-detail-actions d-flex flex-wrap pt-3">
                                                <div class="cart-qty me-3 mb-3">
                                                    <div class="dec decrement-qty qty-btn" 
                                                            data-item_id="{{ product.id }}">&minus;</div>
                                                    <input class="cart-qty-input form-control" 
                                                            type="number" 
                                                            name="quantity" 
                                                            value="{{ item.quantity }}" 
                                                            min="1" 
                                                            max="99"
                                                            data-item_id="{{ product.id }}">
                                                    <div class="inc increment-qty qty-btn"  
                                                            data-item_id="{{ product.id }}">&plus;</div>
                                                </div>
                                                <div class="cart-button mb-3 d-flex">
                                                    <span class="input-group-text btn btn-outline-primary update-link me-3">
                                                        <i class="fas fa-sync-alt"></i>
                                                    </span>
                                                    <!-- HERE CLASS REMOVE ITEM -->
                                                    <span class="input-group-text btn btn-outline-danger remove-item me-3"
                                                            id="remove_{{ item.item_id }}"
                                                            data-product-id="{{ item.product.id }}">
                                                        <i class="far fa-trash-alt"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Product Details -->
                        </div>
                        <hr class="my-4">
                    {% endfor %}
                </div>
            </div>
            <!-- End Mobile Cart View -->
            <!-- Start Desktop Cart View -->
            <div class="row">
                <!-- Cart Table -->
                <div class="table-content table-responsive cart-table-content my-5 d-none d-lg-block">
                    <table class="table table-borderless table-sm align-middle">
                        <thead>
                            <tr class="text-uppercase">
                                <th class="text-dark text-center fw-500 text-nowrap" scope="col">Image</th>
                                <th class="text-dark text-center fw-500 text-nowrap" scope="col">Product Info</th>
                                <th class="text-dark text-center fw-500 text-nowrap" scope="col">Price</th>
                                <th class="text-dark text-center fw-500 text-nowrap" scope="col">Qty</th>
                                <th class="text-dark text-end fw-500 text-nowrap" scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td class="text-center product-thumbnail">
                                    {% if item.product.image %}
                                        <a href="{{ item.product.image.url }}" data-toggle="lightbox">
                                            <img class="img-fluid img-thumbnail" width="100" src="{{ item.product.image.url }}" alt="" title="">
                                        </a>
                                    {% else %}
                                        <a href="{{ MEDIA_URL }} noimage.png" data-toggle="lightbox">
                                            <img class="img-fluid img-thumbnail" width="100" src="{{ MEDIA_URL }} noimage.png" alt=""  title="">
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="text-center product-name">
                                    <p><a class="link-primary" href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a></p>
                                    <p>{{ item.product.sku | upper }}</p>
                                </td>
                                <td class="text-center product-price-cart"><span class="amount">${{ item.product.price }}</span></td>
                                    <td class="text-center product-quantity">
                                        <form class="form update-form" data-form="{{ item.item_id }}" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="cart-qty d-inline-flex">
                                                <div class="dec qty-btn"
                                                data-item_id="id_{{ item.item.id }}">&minus;</div>
                                                <input class="cart-qty-input form-control" 
                                                        type="number" 
                                                        name="quantity" 
                                                        min="1" 
                                                        max="99" 
                                                        value="{{ item.quantity }}"
                                                        data-item_id="{{ item.item_id }}">
                                                <div class="inc qty-btn"
                                                data-item_id="{{ item.item_id }}">&plus;</div>
                                            </div>
                                            <input type="hidden" 
                                                    value="" 
                                                    id="remove-item-{{ item.item_id }}"
                                                    name="remove-item-{{ item.item_id }}">
                                                <span class="input-group-text btn btn-outline-primary update-link mx-3" 
                                                        tabindex="0">
                                                    <i class="fas fa-sync-alt"></i>
                                                </span>
                                                <!--  js target class remove-item -->
                                                <span class="input-group-text btn btn-outline-danger remove-item me-3"
                                                        data-product-id="{{ item.product.id }}" 
                                                        tabindex="0">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                        </form>
                                        <!-- END FORM -->
                                    </td>
                                    <!-- FORM SUBTOTAL -->
                                    <td class="text-end product-subtotal">${{ item.product.price | calc_subtotal:item.quantity  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Cart Table -->
                <div class="d-flex justify-content-start justify-content-sm-end">
                    <div class="">
                        <a class="btn btn-outline-dark ms-auto" href="{% url 'products' %}">
                            <span class="">Continue Shopping</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row flex-row-reverse pt-4 gx-0">
                    <div class="col-md-6 col-lg-4 gx-3">
                        <div class="card">
                            <div class="card-header bg-transparent py-3">
                                <h6 class="m-0 mb-1">Order Total</h6>
                            </div>
                            <div class="card-body ">
                                <ul class="list-unstyled">
                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="me-2 text-body">Subtotal</h6><span class="text-end">${{ total | floatformat:2 }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="me-2 text-body">Delivery</h6><span class="text-end">${{ delivery | floatformat:2 }}</span>
                                    </li>
                                    {% if free_delivery_delta > 0 %}
                                        <li class="d-flex justify-content-between align-items-center mb-2 text-danger">
                                            <p>You could get free delivery by spending ${{ free_delivery_delta }} more!</p>
                                        </li>
                                    {% endif %}
                                    <li class="d-flex justify-content-between align-items-center border-top pt-3 mb-3">
                                        <h6 class="me-2">Grand Total</h6><span class="text-end text-dark">${{ grand_total | floatformat:2 }}</span>
                                    </li>
                                </ul>
                                <div class="d-grid gap-2 mx-auto">
                                    <a class="btn btn-primary" href="{% url 'checkout' %}">PROCEED TO CHECKOUT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 gx-3">
                        <div class="card">
                            <div class="card-header bg-transparent py-3">
                                <h6 class="m-0">Use Coupon Code</h6>
                            </div>
                            <div class="card-body ">
                                <form method="POST" action="{% url 'coupon' %}">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <label class="form-label">Have a Coupon Code?</label>
                                        <input type="text" class="form-control" placeholder="">
                                        <input type="hidden" name="redirect" value="{{ request.path }}">
                                    </div>
                                    <button class="btn btn-primary">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <div class="d-flex">
                <a class="btn btn-outline-dark" href="{% url 'products' %}">
                    <i class="fas fa-chevron-left mt-sm-0 me-1"></i>
                    <span class="d-none d-sm-inline">Continue Shopping</span>
                    <span class="d-inline d-sm-none">Back</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
<!-- Cart Table -->
  
{% endblock %}

{% block postloadjs %}
{{ block.super}}

{% endblock %}