{% load static %}

{% block features %}

 <!-- START FEATURES -->
 <section class="section bg-light" id="features">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <i class="ti-bookmark-alt title-icon text-muted"></i>
                <h3 class="title text-uppercase">Our <span class="fw-bold">Products</span></h3>
                <p class="text-muted mt-3 title-subtitle mx-auto">Hand crafted products made in Nepal by artisans in the same 
                    way since ancient times. 
                </p>
            </div>
        </div>
        <div class="row mt-5 vertical-content">
            <div class="col-lg-6 mt-2">
                <div>
                    <img src="{% static 'img/pancha-dhyani-buddhas.png' %}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 mt-2">
                <div class="features-desc">
                    <h2>Fine dharma quality Buddha  <br> statues</h2>
                    <p class="text-muted mt-3">Hand crafted in Nepal using techniques passed down through 
                        generations since the second century AD.</p>
                    <!-- <p class="text-muted mt-3">In Vajrayana Buddhism, one meditates on the form of the Buddha, to identify 
                        with the enlightened qualities that are our inherent nature.</p> -->
                    <p class="text-muted mt-3">Using an acient technique called the lost wax method, the each statue is individually 
                        crafted. A quality piece can take hundreds of hours to produce, and each piece is unique. </p>
                    <p class="text-muted mt-3">The pieces sold in Shop for Buddhas are of the highest quality, and 
                        support the craftsmen to continue this valuable tradition.</p>
                    <!-- <a href="#" class="btn btn-primary btn-round rounded-3 mt-3">Read more<i
                            class="mdi mdi-chevron-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="row mt-5 pt-5 vertical-content">
            <div class="col-lg-5 mt-5 mt-lg-2 order-2 order-lg-1">
                <div class="features-desc">
                    <h2>Qualtiy malas for meditaion.</h2>
                    <p class="text-muted mt-3">Our quality malas are hand made in Nepal, with Buddist practitioners in mind. A range of bead 
                        types, bead sizes, to choose from.</p>
                    <p class="text-muted mt-3">If we don't have what your looking for, we can source it, or can make it to order.</p>
                    <p class="text-muted mt-3">Bodhi seed malas, once easily found and in plentiful supply have become more rare and expensive in 
                        recent years due to high demand. The price now for small bodhi seed malas is now about twenty times the 
                        price paid five to 10 years ago.</p>
                    <p class="text-muted mt-3">These items are now rare, and we can supply them, but per individual request.</p>
                    <p><a href="{% url 'home' %}#contact" class="">Contact us</a> for more information.</p>

                    <!-- <a href="#" class="btn btn-primary  rounded-3 mt-3">Read more<i
                            class="mdi mdi-chevron-right"></i></a> -->
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 mt-2 order-1 order-lg-2">
                <div>
                    <img src="{% static 'img/bodhicitta-mala.jpeg' %}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURES -->

{% endblock features %}