{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <section class="bg-home vh-100" id="home"> -->
        <!-- <div class="home-center"> -->
            <!-- <div class="home-desc-center"> -->
                <div class="container h-100">
                    <div class="row h-100 justify-content-center">
                        <div class="col-lg-10 my-auto">
                            <div class="text-center">
                                <h1 class="text-white home-title mb-0">Buddha statues represent different aspects and qualties of enlightened mind.</h1>
                                <p class="text-muted  home-subtitle-center home-subtitle mt-4 mb-0 mx-auto">The craft of making Buddha statues in Nepal is a rich tradtition going back to around the second century AD.</p>
                                <div class="mt-4">
                                    <a href="#" class="btn btn-outline-white  btn-round">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </section> -->
{% endblock %}