{% extends "base.html" %}
{% load static %}

{% block page_header %}
 
{% endblock %}

{% block content %}

    <div class="container-fluid h-100" id="landing-page">
        <div class="jumbotron paral paralsec">
            <h1 class="display-3">Shop for Buddhas</h1>
            <p class="lead">Buddha statues mirror the qualities,<br> inherent in our own minds.</p>
            <p class="lead">
            <a class="btn btn-outline-white rounded-3 btn-round rounded-3 btn-md" href="{% url 'products' %}" role="button">Shop Now</a>
            </p>
        </div>
    </div>

{% endblock %}

{% block services %}
    {% include 'home/services.html' %}
{% endblock services %}

{% block features %}
    {% include 'home/features.html' %} 
{% endblock features %}

{% block testimonial %}
    {% include 'testimonials/testimonial_section.html' %}
{% endblock testimonial %}

{% block contact %}
    {% include 'home/contact.html' %}
{% endblock contact %}



