{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<section class="section" id="checkout-section">
  <!-- Start Profile Section -->
  <div class="container">

    <div class="row">
      <div class="col mt-3">
        <h2 class="mb-4">My Profile</h2>
      </div>
    </div>

    <!-- Start profile tabs -->
    <div class="row my-5">
      <div class="col-12 col-sm-4 col-md-3 col-lg-2 d-flex">


        <ul class="nav nav-pills mb-3 d-inline-flex d-sm-block" id="profile-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-3" id="pills-profile-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">My Profile</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-profile2-tab" data-bs-toggle="pill"
              data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2"
              aria-selected="false">Delivery Info</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-personal-tab" data-bs-toggle="pill"
              data-bs-target="#pills-personal" type="button" role="tab" aria-controls="pills-personal"
              aria-selected="true">Personal Info</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-account-tab" data-bs-toggle="pill"
              data-bs-target="#pills-account" type="button" role="tab" aria-controls="pills-account"
              aria-selected="false">Change Password</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-products-tab" data-bs-toggle="pill"
              data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products"
              aria-selected="false">Products</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-orders-tab" data-bs-toggle="pill"
              data-bs-target="#pills-orders" type="button" role="tab" aria-controls="pills-orders"
              aria-selected="false">Orders</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-favorites-tab" data-bs-toggle="pill"
              data-bs-target="#pills-favorites" type="button" role="tab" aria-controls="pills-favorites"
              aria-selected="false">Favorites</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-3" id="pills-testimonials-tab" data-bs-toggle="pill"
              data-bs-target="#pills-testimonials" type="button" role="tab" aria-controls="pills-testimonials"
              aria-selected="false">Testimonials</button>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-8 col-md-9 col-lg-10">
        <div class="tab-content" id="pills-tabContent">

          <!-- START PROFILE TAB -->
          <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <h3>Welcome "{{ profile }}"</h3>
              <h4>Example Profile Page for customers and vendors</h4>
              <p>Welcome to the profile of User.</p>
              <p>A page displaying information about the user, e.g. Name, Profile image, order history maybe, and any
                comments or testimonials that they left.</p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in est odio. Fusce aliquam velit porta
              pulvinar eleifend. Phasellus sodales odio erat, a faucibus quam tempus sed. Vivamus tincidunt eu nibh id
              mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
              magna sem, finibus quis pharetra id, porttitor nec urna. Quisque sollicitudin tincidunt tortor, et fringilla
              sapien tempus sodales. Phasellus mattis tempus luctus. Vestibulum id rutrum nibh, in cursus ipsum.

              
              <hr class="py-2">




          </div>
          <!-- END PROFILE TAB -->
           <!-- START PROFILE2 TAB -->
          <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile2-tab">


                <!-- <div class="row">
                  <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">My Profile</h2>
                    <hr>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <p class="text-muted">Default Delivery Information</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button class="btn btn-outline-dark rounded-3 text-uppercase float-end">Update Information</button>
                    </form>
                  </div>
                  <div class="col-12 col-lg-6">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {{ item.product.name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            
            <hr class="py-2">
          </div>




        </div>
        <!-- END PROFILE2 TAB -->
          <!-- START PERSONAL INFO TAB -->
          <div class="tab-pane fade" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
            <h3>Personal Information</h3>
            <p>Page for the user to edit their personal information. Address, shipping address, profile image.</p>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form | crispy }}
              <input type="submit" class="btn btn-primary">
            </form>

          </div>
          <!-- END PERSONAL INFO TAB -->

          <!-- START ACCOUNT MANAGEMENT TAB -->
          <div class="tab-pane fade" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
            <h3>Account Management</h3>
           
            <p>User can delete the account from this page.</p>

            <div class="card border-0">
              <!-- <div class="card-header ps-0 text-muted"> -->
                <h5 class="card-header ps-0 text-muted">Change Password</h5>
              <!-- </div> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-1 text-muted font-weight-bold"><strong>User Name: </strong></p>
                  </div>
                  <div class="col-12 col-md-8 text-md-start">
                    <p class="mb-1">{{request.user.username}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <p class="mb-1 text-muted font-weight-bold"><strong>User Email: </strong></p>
                  </div>
                  <div class="col-12 col-md-8 text-md-start">
                    <p class="mb-1">{{request.user.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex my-5 mx-auto">
                    <a href="{% url 'password_change' %}" class="btn btn-outline-dark me-4">Change Password</a>
                  </div>
                </div>

              </div>
              <!-- <div > -->
                <h5 class="card-header ps-0 text-muted">Delete Account</h5>
              <!-- </div> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-12 my-5">
                    <a href="" class="btn btn-outline-danger ms-auto">Delete Account</a>
                  </div>
                  <div class="col-12 mb-5">
                    <p class="text-muted font-weight-bold my-auto"><strong>Deleting the account is irreversable. Are you sure you want to delete it?</strong></p>
                  </div>
                  
                </div>
                
              </div>
            </div>


          </div>
          <!-- END ACCOUNT MANAGEMENT TAB -->
          <!-- START PRODUCTS TAB -->
          <div class="tab-pane fade" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
            <h3>Products</h3>
            <!-- <h5>Vendor only page</h5>
            <p>The vendor will be able to create and upload products from this page. </p> -->
            <div class="row my-4">
              <div class="col-12 d-flex">
                <a href="{% url 'create_product' %}" class="btn btn-outline-dark mx-auto my-5">Upload Product</a>
                

                <!-- <a class="btn btn-outline-primary" href="{% url 'view_cart' %}">
                  <span class="d-none d-sm-inline">Shopping Cart</span>
                  <span class="d-inline d-sm-none">Next</span>
                  <i class="fas fa-chevron-right mt-sm-0 me-1"></i>
              </a> -->
              </div>
            </div>


            <!-- START PRODUCT GRID -->
            <div class="row">
                    

              <!-- Product Box -->
              {% for product in products %}

              <div class="col-sm-6 col-lg-3 my-3">
                  <div class="product-card-3 h-100">
                      <div class="product-card-image">
                          <div class="badge-ribbon">

                          </div>
                       
                          <div class="product-media h-100">
                              {% if product.image %}
                                  <a href="{% url 'product_detail' product.id %}">
                                      <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" title="">
                                  </a>
                              {% else %}
                                  <a href="{% url 'product_detail' product.id %}">
                                      <img class="img-fluid" src="/media/noimage.png" alt="{{ product.name }}"  title="">
                                  </a>
                              {% endif %}

                          </div>
                      </div>
                      <div class="product-card-info">
                          
                          <h6 class="product-title">
                              <a href="#">{{ product.name }}</a>
                          </h6>

                          <div class="product-meta category-tags small my-2">
                              {% if product.category %}
                                  <a class="tag text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                                      <i class="fas fa-tag"></i>
                                      <span class="p-2 mt-2 ">{{ product.category.friendly_name }}</span>
                                  </a>
                              {% endif %}
                          </div>

                          <div class="product-price my-2">
                              <span class="text-primary">${{ product.price }}</span>
                              <!-- <del class="fs-sm text-muted">$38.<small>50</small></del> -->
                          </div>

                      </div>
                  </div>
              </div>

              <!-- End Product Box -->
              {% if forloop.counter|divisibleby:1 %}
                  <div class="col-12 d-sm-none mb-5">
                      <hr>
                  </div>
              {% endif %}                        
              {% if forloop.counter|divisibleby:2 %}
                  <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                      <hr>
                  </div>
              {% endif %}
              {% if forloop.counter|divisibleby:4 %}
                  <div class="col-12 d-none d-lg-block mb-5">
                      <hr>
                  </div>
              {% endif %}

              {% endfor %}

          </div>
            <!--  END PRODUCT GRID -->

          </div>
          <!-- END PRODUCTS TAB -->

          <!-- START ORDERS TAB -->
          <div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
            <h3>Orders</h3>
            <p>A page displaying a list of the orders. depending on whether the user is customer or vendor, it displays
              the information for that user type.</p>
            <ul class="list-unstyled">
              <li class="pt-3">
                <h5>Customers:</h5> Displays customers orders
              </li>
              <li class="pt-3">
                <h5>Vendors:</h5> Displays vendors order sales
              </li>
              {% for vendor_order in vendor_order_list %}

              {{vendor_order}}
              {% endfor %}
            </ul>
            <p>User can delete the account from this page.</p>
            {% for order in orders %}
            {{ order.order_number }}
            {{ order.full_name }}
            <!-- {{ order.lineitem_total }} -->
            {% endfor %}

          </div>
          <!-- END ORDERS TAB -->

          <!-- START FAVORITES TAB -->
          <div class="tab-pane fade" id="pills-favorites" role="tabpanel" aria-labelledby="pills-favorites-tab">
            <h3>My Favorites</h3>
            <p>List of the users favorites, can delete from the list.</p>
            <p>Need to add this functionality to the front end.</p>

          </div>
          <!-- END ORDERS TAB -->

          <!-- START TESTIMONIALS TAB -->
          <div class="tab-pane fade" id="pills-testimonials" role="tabpanel" aria-labelledby="pills-testimonials-tab">
            <h3>User Testimonials</h3>
            <p>A list displaying the users testimonials if they left any, with the ability to edit, update or delete
              them.</p>
          </div>
          <!-- END TESTIMONIALS TAB -->
        </div>


      </div>
    </div>
    <!-- End profile tabs -->

    <!-- End Profile Section -->
  </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<script>
      //   let countrySelected = $('#id_default_country').val();
      // if(!countrySelected) {
      //     $('#id_default_country').css('color', '#aab7c4');
      // };
      // $('#id_default_country').change(function() {
      //     countrySelected = $(this).val();
      //     if(!countrySelected) {
      //         $(this).css('color', '#aab7c4');
      //     } else {
      //         $(this).css('color', '#52595f');
      //     }
      // });
</script>
  <!-- Cant get this script to work from the static js file -->
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}