{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<section class="section" id="checkout-section">
	<!-- Start Profile Section -->
	<div class="container">
		<div class="row">
			<div class="col mt-3">
				
				{{ profile.full_name }}
				{% if user.first_name and user.last_name %}
					<h2 class="mb-4">{{ user.first_name }} {{ user.last_name }}' Profile</h2>
				{% else %}
					<h2 class="mb-4">My Profile</h2>
				{% endif %}

			</div>
		</div>
		
		<div class="row my-5"> <!-- Start Profile Tabs -->
			<div class="col-12 col-sm-4 col-md-3 col-lg-2 d-flex">
				<ul class="nav nav-pills mb-3 d-inline-flex d-sm-block" id="profile-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active rounded-3" id="pills-profile-tab" data-bs-toggle="pill"
							data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
							aria-selected="false">Profile</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link rounded-3" id="pills-profile2-tab" data-bs-toggle="pill"
							data-bs-target="#pills-profile2" type="button" role="tab" aria-controls="pills-profile2"
							aria-selected="false">Account Info</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link rounded-3" id="pills-orders-tab" data-bs-toggle="pill"
							data-bs-target="#pills-orders" type="button" role="tab" aria-controls="pills-orders"
							aria-selected="false">Orders</button>
					</li>
					<!-- Restict view of products and sales to vendors and superusers -->
					{% if request.user.user_type == "is_vendor" or request.user.user_type == "is_admin" or request.user.is_superuser %}

						<li class="nav-item" role="presentation">
							<button class="nav-link rounded-3" id="pills-products-tab" data-bs-toggle="pill"
								data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products"
								aria-selected="false">Products</button>
						</li>

						<li class="nav-item" role="presentation">
							<button class="nav-link rounded-3" id="pills-sales-tab" data-bs-toggle="pill"
								data-bs-target="#pills-sales" type="button" role="tab" aria-controls="pills-sales"
								aria-selected="false">Sales</button>
						</li>
					{% endif %}
					<li class="nav-item" role="presentation">
						<button class="nav-link rounded-3" id="pills-favorites-tab" data-bs-toggle="pill"
							data-bs-target="#pills-favorites" type="button" role="tab" aria-controls="pills-favorites"
							aria-selected="false">Favorites</button>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-8 col-md-9 col-lg-10">
				<div class="tab-content" id="pills-tabContent"> <!-- Start Tab Content -->

					{% block tab_profile %}
						{% include 'profiles/tab_profile.html' %}
					{% endblock tab_profile %}

					{% block tab_account %}
						{% include 'profiles/tab_account.html' %}
					{% endblock tab_account %}

					{% block tab_orders %}
						{% include 'profiles/tab_orders.html' %}
					{% endblock tab_orders %}

					{% block tab_products %}
						{% include 'profiles/tab_products.html' %}
					{% endblock tab_products %}

					{% block tab_sales %}
						{% include 'profiles/tab_sales.html' %}
					{% endblock tab_sales %}

					{% block tab_favorites %}
						{% include 'profiles/tab_favorites.html' %}
					{% endblock tab_favorites %}
					
				</div> <!-- End Tab Content -->

			</div>
		</div> <!-- End Profile Tabs -->

		<!-- End Profile Section -->
	</div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}