{% load static %}

{% block tab_orders %}

<!-- START ORDERS TAB -->
<div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
    <h3>Orders</h3>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Order History</p>
            <div class="row d-flex d-block d-sm-none">
                {% for order in orders %}
                    <hr class="my-2">
                    <div class="col-5 ps-5">Date:</div>
                    <div class="col-7">{{ order.date | date:"M d, Y" }}</div>
                    <div class="col-5 ps-5">Order Number:</div>
                    <div class="col-7">
                        <a href="{% url 'order_history' order.order_number %}"
                            title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:6 }}
                        </a>
                    </div>
                    <div class="col-5 ps-5">Items:</div>
                    <div class="col-7">
                        <ul class="list-unstyled">
                            {% for item in order.lineitems.all %}
                            <li class="small">
                                {{ item.product.name }} x {{ item.quantity }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-5 ps-5">Order Total:</div>
                    <div class="col-7">${{ order.grand_total }}</div>
                {% endfor %}
            </div>
            <div class="order-history table-responsive d-none d-sm-block">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order Number</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.date | date:"M d, Y" }}</td>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END ORDERS TAB -->

{% endblock tab_orders %}