{% load static %}

{% block tab_sales %}

<!-- START SALES TAB -->
<div class="tab-pane fade" id="pills-sales" role="tabpanel" aria-labelledby="pills-sales-tab">
    <h3>Vendor Sales</h3>

    <div class="col-12">
        <p class="text-muted">Vendor ID: {{ request.user.id }} - Sales History</p>

        <div class="row d-flex d-block d-sm-none">
            {% for line_item in vendor_sales %}
                <hr class="my-2">

                <div class="col-5 ps-5">Date:</div>
                <div class="col-7">{{ line_item.order.date | date:"M d, Y" }}</div>

                <div class="col-5 ps-5">Order Number:</div>
                <div class="col-7">
                    <a href="{% url 'vendor_order_history' line_item.order.order_number %}"
                        title="{{ line_item.order.order_number }}">
                        {{ line_item.order.order_number|truncatechars:6 }}
                    </a>
                </div>

                <div class="col-5 ps-5">Vendor Name:</div>
                <div class="col-7">{{ line_item.product.created_by }}</div>

                <div class="col-5 ps-5">Items:</div>
                <div class="col-7">
                    <ul class="list-unstyled">
                        <li class="small">
                            {{ line_item.quantity }} x {{ line_item.product.name }}
                        </li>
                    </ul>
                </div>

                <div class="col-5 ps-5">Sale Total:</div>
                <div class="col-7">$ ${{ line_item.lineitem_total }}</div>
            
            {% endfor %}
        </div>

        <!-- start table responsive -->
        <div class="order-history table-responsive d-none d-sm-block">
            <table class="table table-sm table-hover">
                <thead> 
                    <tr>
                        <th>Date</th>
                        <th>Order Number</th>
                        <th>Vendor</th>
                        <th>Items</th>
                        <th>Sale Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line_item in vendor_sales %}
                   
                        <tr>
                            <td>{{ line_item.order.date | date:"M d, Y" }}</td>
                            <td>
                                <a href="{% url 'vendor_order_history' line_item.order.order_number %}"
                                    title="{{ line_item.order.order_number }}">
                                    {{ line_item.order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        {{ line_item.product.created_by }}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        {{ line_item.quantity }} x {{ line_item.product.name }} @ {{ line_item.product.price }} each
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        ${{ line_item.lineitem_total }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    <!-- end for sale in vendor_sales -->
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        <!-- end table responsive -->
    </div>
</div>
<!-- END SALES TAB -->

{% endblock tab_sales %}