
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<style>
/* Testimonial form rating css */
.rate {
 float: left;
 height: 46px;
 padding: 0 10px;
}
.rate:not(:checked) > input {
 position:absolute;
 top:-9999px;
}
.rate:not(:checked) > label {
 float:right;
 width:1em;
 overflow:hidden;
 white-space:nowrap;
 cursor:pointer;
 font-size:30px;
 color:#ccc;
}
.rate:not(:checked) > label:before {
 content: '★ ';
}
.rate > input:checked ~ label {
 color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
 color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
 color: #c59b08;
}
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-light min-vh-50">
        <!-- <div class="overlay"></div> -->
        <div class="row my-5">
            <div class="col-12 col-lg-6 mx-auto my-5">
                <div class="allauth-form-inner-content">
                    <h1>Create a Testimonial.</h1>
                    {% block inner_content %}
                    <form  method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="user_image" class="form-control mb-2 mt-5"><br>
                        <textarea name="user_testimonial" class="form-control my-2"></textarea><br>

                        <!-- 5 stars -->
                        <div class="w-100 my-2">
                            <div class="rate w-auto me-auto">
                                <input type="radio" id="star5" name="user_rating" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="user_rating" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="user_rating" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="user_rating" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="user_rating" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            
                        </div>
                        <br>
                       
                        <button class="btn btn-outline-dark btn-round rounded-3 py-2 " type="submit">Submit</button>
                      </form>
                      
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

