{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="section" id="checkout-section">
    <!-- Start Checkout Section -->
    <div class="container">
        <div class="row d-flex py-6">
            <div class="col-12 col-lg-8 mx-auto">
                <h2 class="mb-4">Thankyou</h2>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <div class="row py-6 d-flex">
            <div class="col-12 col-lg-8 mx-auto">
                <!-- Start Order summary -->
                <div class="card rounded-3 border-0 order-confirmation-wrapper mx-auto">
                    <h5 class="card-header ps-0 text-muted">Order Info:</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Order Number</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.order_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Order Date</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.date }}</p>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-header ps-0 text-muted">Order Details:</h5>
                    <div class="card-body">
                        {% for item in order.lineitems.all %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class=" mb-1">
                                        {{ item.product.name }}
                                    </p>
                                </div>
                                <div class="col-12 col-md-8 text-md-end">
                                    <p class=" mb-1">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <h5 class="card-header ps-0 text-muted">Delivering To:</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Full Name</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.full_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Address 1</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.street_address1 }}</p>
                            </div>
                        </div>
                        {% if order.street_address2 %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-1 text-muted font-weight-bold"><strong>Address 2</strong></p>
                                </div>
                                <div class="col-12 col-md-8 text-md-end">
                                    <p class="mb-1">{{ order.street_address1 }}</p>
                                </div>
                            </div>
                        {% endif %}

                        {% if order.county %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-1 text-muted font-weight-bold"><strong>County</strong></p>
                                </div>
                                <div class="col-12 col-md-8 text-md-end">
                                    <p class="mb-1">{{ order.county }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Town or City</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.town_or_city }}</p>
                            </div>
                        </div>
                        {% if order.postcode %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-1 text-muted font-weight-bold"><strong>Postal Code</strong></p>
                                </div>
                                <div class="col-12 col-md-8 text-md-end">
                                    <p class="mb-1">{{ order.postcode }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Country</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.country }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Phone Number</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-header ps-0 text-muted">Billing Info:</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Order Total</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.order_total }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Delivery</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.delivery_cost }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-1 text-muted font-weight-bold"><strong>Grand Total</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-end">
                                <p class="mb-1">{{ order.grand_total }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Order Summary -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 d-flex">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-outline-dark mx-auto">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a class="btn btn-outline-dark mx-auto" href="{% url 'products' %}">
                        <i class="fas fa-chevron-right"></i>
                        <span class="">To the Shop</span>
                    </a>
                {% endif %}
            </div>
        </div>
    <!-- End Checkout Section -->
    </div>
</div>

{% endblock %}