.nav-pills .nav-link {
  background: none;
  border: 0;
  color: #5465ff;
}

.order-history {
  max-height: 416px;
  /* height of profile form + submit button */
  overflow-y: auto;
}

#profile-update-form input::placeholder {
  color: #aab7c4;
}

#profile-update-form p {
  margin-top: 1.5rem;
  color: #6c757d; /* text-secondary */
}

#profile-update-form label:not([for='id_remember']) {
  display: none;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #aab7c4;
}

/* Delete modal styling */
.btn-outline-danger:hover {
  color: #fff !important;
  background-color: #ff6f61;
  border-color: #ff6f61;
}