/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html {
  height: 100%;
}

body {
  background-image: url("/media/cartographer.png");
  height: calc(100vh - 56px);
  color: #555;
  /* font-family: 'Lato'; */
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#landing-page {
  padding-top: 64px;
}

/* ============================= HEIGHT CLASSES ============================= */

.min-vh-50 {
  min-height: 50vh !important; }

.min-vh-60 {
  min-height: 60vh !important; }

.min-vh-70 {
  min-height: 70vh !important; }

.min-vh-80 {
  min-height: 80vh !important; }

/* =========================== SECTION SPACING ============================== */

.section-padding {
  padding-top: 100px;
}

#header-spacer {
  padding-top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding {
    padding-top: 60px;
  }
}

ul, ol {
  padding: 0;
  list-style: none;
  margin: 0;

}

/* ======================== TEMPLATE STYLE AND COLORS ======================= */

.bg-home {
  background-image: url("/media/cartographer.png");
}

.color-lime {
  color: #cddc39;
}

/* ============================== Navbar Brand ============================== */ 

.brand-heading {
  font-family: 'Caveat', cursive;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .brand-heading {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
  }
}

/*=========================== Navbar Cart Styling =========================== */
.cart {
  text-decoration: none;
}

.number-circle {
  border-radius: 5px;
  padding: 0px 5px;
  background: #cddc39;
  border: 1px solid #666;
  color: #666;
  text-align: center;
}

/* =========================== Shopping Cart Styling ======================== */

.update-link,
.remove-item {
    cursor: pointer!important;
}

.decrement {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.increment {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.cart-qty-input .form-control {
  min-height: 40px;
}


.cart-qty .cart-qty-input {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border: 1px solid #e3e9ef;
  height: 100%;
}

/* ============================= Navbar styling ============================= */

.nav-link {
  color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* ============================= Navbar Megamenu ============================ */

/*  Required for megamenu */
.box-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.megamenu-image {
  max-height: 175px;
}

/* ============================= Navbar Dropdown ============================ */

/* Mobile dropdown styling */
.dropdown-menu.show {
  border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0;
}

.header-height-bar {
  height: 82px;
}

/* ============================= Navbar Search ============================== */

#search-products,
#search-mobile {
  width: calc(100% - 42px);
  color: #a8a7a7;
  font-family: Roboto;
  border-bottom: 1px solid #616161;
  border-right: 1px solid #616161;
  border-top: 1px solid #212121;
  border-left: 1px solid #212121;
  background-color: #3f3a58;
}

#search-products:focus,
#search-mobile:focus {
  outline: none;
  border-bottom: 1px solid #616161;
  border-right: 1px solid #616161;
  border-top: 1px solid #212121;
  border-left: 1px solid #212121;
  background-color: #3f3a58;

}

#search-products:focus-visible {
  outline: none;
}

#search-products {
  width: 75px;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  color: #a8a7a7;
  font-family: Roboto;
  border: none;
  background-color: transparent;
}

#search-products:focus {
  width: 200px;
  outline: none;
  border-bottom: 1px solid #616161;
  border-right: 1px solid #616161;
  border-top: 1px solid #212121;
  border-left: 1px solid #212121;
  background-color: #3f3a58;

}

/* ============================= Search Input =============================== */

input[name='q']::-webkit-input-placeholder {
  color: #aab7c4;
}
input[name='q']::-moz-placeholder {
  color: #aab7c4;
}
input[name='q']:-ms-input-placeholder {
  color: #aab7c4;
}
input[name='q']::-ms-input-placeholder {
  color: #aab7c4;
}
input[name='q']::placeholder {
  color: #aab7c4;
}

/* ======================== BOOTSTRAP TOAST MESSAGES ======================== */ 

 .message-container {
  position: fixed;
  top: 125px;
  left: calc(-100vw);
  z-index: 99999999999;
  height: auto;
}

.toast {
  width: 100vw;
  max-width: calc(100vw);
  -webkit-box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
          box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
}

.toast.show {
 -webkit-transform: translateX(calc(100vw));
     -ms-transform: translateX(calc(100vw));
         transform: translateX(calc(100vw));
 -webkit-transition: 1s;
 -o-transition: 1s;
 transition: 1s;
 -webkit-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
 opacity: 1;
}

.toast.hide {
  -webkit-transform: translateX(calc(-100vw))!important;
      -ms-transform: translateX(calc(-100vw))!important;
          transform: translateX(calc(-100vw))!important;
  -webkit-transition-timing-function: ease-in!important;
       -o-transition-timing-function: ease-in!important;
          transition-timing-function: ease-in!important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0!important;
  display: block!important;
 }
 
 .bag-notification-wrapper {
   height: 100px;
   overflow-x: hidden;
   overflow-y: auto;
   -webkit-box-shadow: inset 0 0 1px rgb(165, 165, 165);
   box-shadow:         inset 0 0 1px rgb(165, 165, 165);
   border: 1px solid rgb(238, 235, 235);
   padding: 20px;
 
 }

/* ================= CUSTOM BOOTSTRAP TOAST MESSAGE STYLES ================== */

/* ==================================  Toast Success */
.toast-success {
  position: relative;
  background-color: #ffffff;
  border-left: 8px solid #198754;
  border-radius: .25rem; 
}
.toast-success .toast-header {
  border-bottom: 1px solid #198754;
  background-color: #28bb74 !important;
  border-top-right-radius: .25rem;
}

.toast-success .toast-body {
  border-bottom-right-radius: .25rem;
}

/* ================================== Toast Info */
.toast-info {
  position: relative;
  background-color: #ffffff;
  border-left: 8px solid #3b86ff;
  border-radius: .25rem;
}

.toast-info .toast-header {
  border-bottom: 1px solid #3b86ff;
  background-color: #0dcaf0 !important;
  border-top-right-radius: .25rem;
}

.toast-info .toast-body {
  border-bottom-right-radius: .25rem;
}

/* ==================================  Toast Error */
.toast-error {
  position: relative;
  background-color: #ffffff;
  border-left: 8px solid hsl(354, 70%, 54%);
  border-radius: .25rem;
}

.toast-error .toast-header {
  border-bottom: 1px solid #dc3545;
  background-color: #ff6f61 !important;
  border-top-right-radius: .25rem;
}

.toast-error .toast-body {
  border-bottom-right-radius: .25rem;
}

/* ==================================  Toast Warning */
.toast-warning {
  position: relative;
  background-color: #ffffff;
  border-left: 8px solid #ff9736;
  border-radius: .25rem;
}

.toast-warning .toast-header {
  border-bottom: 1px solid #ff9736;
  background-color: #ffc107 !important;
  border-top-right-radius: .25rem;
}

.toast-warning .toast-body {
  border-bottom-right-radius: .25rem;
}

/* ==================== MEDIA QUERY (min-width: 768px) ====================== */

@media (min-width: 768px) {
  .toast {
    max-width: calc(100vw / 2);
    -webkit-box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
            box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
  }
}

/* ==================== MEDIA QUERY (min-width: 992px) ====================== */

@media (min-width: 992px){
  .message-container {
    position: fixed;
    top: 125px;
    left: calc(-100vw / 4);
    z-index: 99999999999;
    height: auto;
    max-width: calc(100vw / 4);  /* Set max width of conatiner */
  }

  .toast {
    max-width: calc(100vw / 4);
    -webkit-box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
            box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05) !important;
  }
  
  .toast.show {
    -webkit-transform: translateX(calc(100vw / 4)) !important;
        -ms-transform: translateX(calc(100vw / 4)) !important;
            transform: translateX(calc(100vw / 4)) !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    opacity: 1;
   }

   .toast.hide {
    -webkit-transform: translateX(calc(-100vw / 4))!important;
        -ms-transform: translateX(calc(-100vw / 4))!important;
            transform: translateX(calc(-100vw / 4))!important;
    -webkit-transition-timing-function: ease-in!important;
         -o-transition-timing-function: ease-in!important;
            transition-timing-function: ease-in!important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0!important;
    display: block!important;
   }
}

/* ================================ PRODUCTS ================================ */

 .product-container .card  {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e9ef;
  -webkit-box-shadow: 2px 2px 5px #efefef!important;
          box-shadow: 2px 2px 5px #efefef!important;
 } 

 /* Style Tags */
 .product-meta.category-tags a.tag {
  height: 30px;
  padding: 5px 10px;
  line-height: 28px;
  border: 1px solid #e1e1e1;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0.2rem;
}

.product-meta.category-tags a.tag:hover {
  background-color: #83bc2e;
  border-color: #83bc2e;
  color: #fff;
}

/************************* Product Form **************************/

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/********************* Product Image Lightbox *********************/
.ratio.ratio-16x9 {
  background-color: #fff !important;
}

/* Set max-width for the image lightbox on xl screens */
.modal.lightbox .modal-dialog.modal-dialog-centered.modal-xl {
  max-width: 900px;
}
/* Set the lightbox ratio */
.modal-body .lightbox-carousel .carousel-inner .carousel-item.active .ratio {
  position: relative;
  width: 100% !important;
  /* set the aspect ratio-1x1 */
  --bs-aspect-ratio: calc(100%) !important;
}
/* Change the color of the close button svg */
.modal.lightbox button.btn-close > svg {
  fill: #555;
}

/* Product Favorite icon */
.product-card-3 .favorites {
  position: absolute;
  top: 20px;
  right: 26px;
  z-index: 1;
}

/********************* Product Delete Modal *********************/


/* =================== Header Section Jumbotron Parallax ==================== */

/* Remove Bottom Margin */
.jumbotron {
  margin-bottom: 0;
}

/* Header Parallax Element Style*/
.paral {
  height: 100vh;
  bottom: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 70%;
}

/* Image for Jumbotron Parallax Section */
.paralsec {
  background-image: url("/media/bg_shakyamuni.png");
}

.fourofour {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.fourofour img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/* Heading for Jumbotron Parallax Section */
.paral h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  line-height: 60px;
}

/* Paragrapgh for Parallax Section */
.paral p {
  font-size: 18px;
  color: #f5f5f5;
  text-align: center;
  line-height: 40px;
}

/* ============= MEDIA QUERY only screen and (min-width: 768px) ============= */

@media only screen and (min-width: 768px){
  .jumbotron {
    margin-bottom: 0;
    padding-top: 220px;
  }
  .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
  }
  .paral p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;
  }
}

/* ============= MEDIA QUERY only screen and (min-width: 992px) ============= */

@media only screen and (min-width: 992px){
  .jumbotron {
    margin-bottom: 0;
    padding-top: 200px;
  }
  .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
  }
}

/* =========================== SERVICES SECTION ============================= */

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background: #ffffff;
}

.section-sm {
  padding: 50px 0;
}

.section-lg {
  padding: 100px 0;
}

.services-box {
  padding: 30px;
}

.services-box .services-icon i {
  font-size: 36px;
}

.services-box .services-title {
  font-size: 18px;
}

/* =========================== TESTIMONIAL SECTION ========================== */

.bg-client {
  background-image: url("/media/cartographer.png");
}

.bg-client .user-review {
  font-size: 20px;
  line-height: 36px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.65);
}

.bg-client .testi-icon {
  font-size: 30px;
}

.btn-testimonial-cont {
  position: relative;
}

/*********** Style the carousel testimonial button ***********/

.testimonial-btn-wrapper {
  position: absolute;
  float: none;
  top: 5px;
  left: 0;
  text-align: center;
}

#btn-testimonial {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
#btn-testimonial:hover {
  width: 220px;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

#btn-testimonial i {
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#btn-testimonial:hover i {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#btn-testimonial .button-text {
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: absolute;
  width: 0px;
  right: 0;
  display: inline-block;
 }

#btn-testimonial:hover .button-text {
  opacity: 1;
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  display: inline-block;
  width: 220px;
}

/************* Testimonial form rating css **************/
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* ================================= CONTACT =================================*/

textarea.form-control {
  height: auto !important;
}




/******************* Social icons *******************/

.contact-social {
  padding: 20px 0px;
}

.contact-social .social-icon {
  border: 3px solid #dadcdf;
  border-radius: 50%;
  color: #dadcdf;
  width: 48px;
  height: 48px;
  display: block;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
}

.contact-social .contact-title {
  font-size: 20px;
}

.footer {
  background-image: url("/media/cartographer.png");
  position: relative;
  margin-top: 3em;
}

a.social-icon {
  border: 2px solid #868e96;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 42px;
  height: 42px;
  display: block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

a.social-icon:hover {
  color: #fff!important;
  border: 2px solid #5465ff!important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/******************* Footer *******************/ 

.footer-terms li:last-child:after {
  content: "";
}

.footer-terms li a:hover {
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-terms li:after {
  content: "|";
  margin: 0 20px;
  color: #757575;
}

/* ============================ Back to top button ========================== */

.scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  cursor: pointer;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
  border: 1px solid gray;
  background-color: rgba(2, 1, 10, 0.5)
}

.scrollToTopBtn i {
  font-size: 2em;
}

.showScrollBtn {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}


/* ============================ Custom Error Pages ========================== */

.bg-error {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
  }

.bg-error img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  
  }

.bg-transparent {
  background-color: transparent;
}

.btn-error {
  padding: 0.5rem 1.6rem;
  font-size: 1.25rem;
  border: 3px solid #fff;
  border-radius: 0.8rem;
  color: #bdb894;
  background-color: #5c8187;
  border-color: #95915d;
}

.btn-error:hover {
  color: #c6c19c;
  background-color: #5c8187;
  border-color: #a59a64;
  text-shadow: 0 0 black;
}
.top-40 {
  position: relative;
}

/* =============================== BUTTONS ================================== */

/* *************************** BUTTONS PRIMARY ********************************/

.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus,
.btn-soft-primary:not(:disabled):not(.disabled):active,
.btn-soft-primary:not(:disabled):not(.disabled):active:focus,
.btn-soft-primary .open>.dropdown-toggle.btn-primary {
  background: #504de3;
}

.btn-primary {
  background: #615fe6;
  border-color: #615fe6;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .open>.dropdown-toggle.btn-primary {
  background: #504de3;
  border-color: #504de3;
}

.btn-outline-primary {
  color: #615fe6;
  border-color: #615fe6;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary .open>.dropdown-toggle.btn-primary {
  background: #615fe6;
  border-color: #615fe6;
  color: #fff;
}

/* ************************ BUTTONS OUTLINE WHITE *****************************/

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white.active,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled):active:focus,
.btn-outline-white .open>.dropdown-toggle.btn-primary {
  background: #ffffff;
  border-color: #ffffff;
}

/* ============================= Allauth forms ============================== */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::-webkit-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.btn-custom-style,
.allauth-form-inner-content input[type='submit'] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/*************  Allauth Form Style Workaround **************/
.form-control, .form-select {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  border-radius: 0.3rem;
  height: 40px;
  padding: 12px 10px;
}

.form-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-control:focus {
  border-color: #ccc;
}

textarea.form-control {
  height: auto;
  padding-top: 13.5px;
}

/* ============================== MEDIA QUERIES ============================= */

/* ===================== @media (max-width: 767.98px) ======================= */
@media (max-width: 767.98px) {
  .bg-client .testi-user {
    width: 50px !important;
    margin-right: 15px;
    color: #a2a2a2;
    margin-top: 20px;
  }
}
/* ======================== @media (min-width: 768px) ======================= */
@media (min-width: 768px) {
  .bg-client .testi-user {
    width: 85px !important;
    margin-right: 15px;
    color: #a2a2a2;
    margin-top: 20px;
  }
}
/* =================== @media all and (min-width: 992px) ==================== */

/* Required for mega menu */
@media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{
    position:static!important;
  }

  .navbar .megamenu{
    left:0; 
    right:0; 
    width:100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: -1px;
  }

  /* the container to be made visible */
  li.dropdown:hover div.megamenu {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/* =================== @media (min-width: 992px) ============================ */

@media (min-width: 992px) {

  /* Header Styling */
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 56px !important;
  }

  .header-main {
    -webkit-box-shadow: 0px 2px 5px 1px #f5f5f5;
            box-shadow: 0px 2px 5px 1px #f5f5f5;
  }

  /* **************** Megamenu transition **************** */

  #product-megadropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: -1px;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translate(0, 0)!important;
        -ms-transform: translate(0, 0)!important;
            transform: translate(0, 0)!important;
  }

  .navbar .dropdown-menu.megamenu.fade-down {
    top: 80%!important;
    -webkit-transform: rotateY(-75deg)!important;
            transform: rotateY(-75deg)!important;
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.megamenu.fade-up {
    top: 180%;
  }

  #product-megamenu:hover .dropdown-menu.megamenu {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%!important;
    -webkit-transform: rotateX(0deg)!important;
            transform: rotateX(0deg)!important;
  }

    /************************* Navbar Styling */

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: -1px;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    -webkit-transform: rotateX(-75deg);
            transform: rotateX(-75deg);
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  .navbar-nav {
    margin-left: auto;

  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  nav#main-navbar {
    padding: 0 7em!important;
  }

  .navbar-expand-lg .offcanvas {
    background-color: transparent;
  }
}