<script type="text/javascript">

// Back to top button code customised from the following link.
// https://dev.to/ljcdev/scroll-to-top-button-in-vanilla-js-beginners-2nc
// BACK TO TOP BUTTON SCRIPT

document.addEventListener("scroll", handleScroll);
// get a reference to our predefined button
var scrollToTopBtn = document.querySelector(".scrollToTopBtn");

function handleScroll() {
  var scrollableHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var GOLDEN_RATIO = 0.5;

  if ((document.documentElement.scrollTop / scrollableHeight ) > GOLDEN_RATIO) {
    //show button
    if(!scrollToTopBtn.classList.contains("showScrollBtn"))
    scrollToTopBtn.classList.add("showScrollBtn")
  } else {
    //hide button
    if(scrollToTopBtn.classList.contains("showScrollBtn"))
    scrollToTopBtn.classList.remove("showScrollBtn")
  }
}

scrollToTopBtn.addEventListener("click", scrollToTop);

function scrollToTop() {
  window.scrollTo({
    top: 0,
    behavior: "smooth"
  });
}

// Increase and decrease the cart quantity selector
// https://javascript.tutorialink.com/changing-cart-items-quantity-in-shopping-cart-using-vanilla-javascript/
let deductBtnArr = document.getElementsByClassName('dec');
let addButtonArr = document.getElementsByClassName('inc');
let maxQty = 99
let minQty = 0

for(let deductBtn of deductBtnArr){
  deductBtn.onclick = function(){
    let currentInputBox = deductBtn.nextElementSibling;
    if (currentInputBox.value > minQty) {
      currentInputBox.value =  currentInputBox.value - 1;
    }
    
  }
}

for(let addButton of addButtonArr){
  addButton.onclick = () => {
    let currentInputBox = addButton.previousElementSibling;
    if (currentInputBox.value < maxQty) {
    currentInputBox.value =  parseInt(currentInputBox.value) + 1;
    }
  }
}

// Update cart quantity with Vanilla JS
let updateItemBtns = document.getElementsByClassName('update-link');
let removeItemBtns = document.getElementsByClassName('remove-item');

for(let updateBtn of updateItemBtns){
  updateBtn.onclick = function(){
      let elParentPrevElSibling = updateBtn.parentElement.previousElementSibling
      let prevForm = elParentPrevElSibling.previousElementSibling.firstElementChild
      prevForm.submit();
  }
}
// Remove cart items with Vanilla JS
for(let removeBtn of removeItemBtns){
    removeBtn.onclick = function(){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        // var itemId = document.querySelector(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};
        $.post(url, data)
     .done(function() {
        location.reload();
        console.log("done")
     });
  }
}

//  Show toasts
var toastElList = [].slice.call(document.querySelectorAll('.toast'));
  var toastList = toastElList.map(function(toastEl) {
    return new bootstrap.Toast(toastEl);
  })
  toastList.forEach((toast) => {
    toast.show();
  })
   
  console.log(toastList); 



</script>