<!-- START SEARCH ACCOUNT CART -->
<div class="col-9 col-lg-4 mb-auto my-lg-auto py-1 py-lg-0 d-lg-none" >

    <ul class="my-auto d-flex">
        <li class="list-inline-item my-auto ms-auto">
        
            <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
               
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 bg-home my-0" aria-labelledby="mobile-search">
                <form methon="GET" action="">
                    <div class="input-group d-flex  align-top" id="site-searchbar">
               
                    <input
                        type="text"
                        class="form-control-plaintext ms-auto rounded px-1"
                        id="search"
                        placeholder="Search..."
                        aria-label="Recipient's username"
                        aria-describedby="button-addon2"
                    />
                    <button class="btn text-white" type="button" id="button-addon2">
                        <i class="fas fa-search"></i>
                    </button>
                    </div>
                </form>
            </div>
          <!-- End Search -->
        </li>
        <li class="list-inline-item my-auto ms-auto ms-lg-0">
          
          <a
            class="nav-link"
            href="#"
            id="user-options"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
              <ul class="list-unstyled list-inline-item my-auto">
                <li class="unstyled"><i class="far fa-user fa-lg text-light"></i></li>
<!--                 <li>Account</li> -->
              </ul>
              
<!--               <p class="my-0 text-muted">My Account</p> -->
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark border-0" aria-labelledby="user-options">
            <a href="" class="dropdown-item">Product Management</a>

            <a href="" class="dropdown-item">My Profile</a>
            <a href="" class="dropdown-item">Logout</a>

            <a href="" class="dropdown-item" >Register</a>
            <a href="" class="dropdown-item">Login</a>
          </div>
        </li>

        <li class="list-inline-item my-auto">
          <!-- Start Cart -->
          <div class="shopping-cart mx-1 my-auto">
            <a href="#" class="cart">
              <span class="text-white">
                <small class="number-circle">$0.00</small >
                <i class="fas fa-shopping-cart color-lime"></i></span>
              
            </a>
          </div>
          <!-- End Cart -->
        </li>
      </ul>
</div>
<!-- END SEARCH ACCOUNT CART -->