
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container-fluid bg-light min-vh-50">
        <!-- <div class="overlay"></div> -->
        <div class="row my-5">
            <div class="col-12 col-lg-6 mx-auto my-5">
                <div class="allauth-form-inner-content">
                    <h1>Create a Testimonial.</h1>
                    {% block inner_content %}
                    <form  method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <button class="btn btn-outline-dark btn-round rounded-3" type="submit">Submit</button>
                      </form>
                      
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}




