{% extends "base.html" %}

{% block page_header %}

{% endblock %}

{% block content %}

    <section class="section" id="blog-posts"> 
         <!-- Blog Section Start -->
         <div class="section-padding-02">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-8">

                        {% block inner_content %}
                        {% endblock %}  
                            
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <!-- Sidebar Start -->
                        <div class="sidebar pt-1">

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Search</h3>

                                <!-- Widget Search Start -->
                                <div class="widget-search">
                                    <form action="#">
                                        <input class="form-control" type="text" placeholder="Search">
                                        <button><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Widget Search End -->
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Category</h3>

                                <!-- Widget Category Start -->
                                <div class="widget-link">
                                    <ul>
                                        {% for category in categories %}
                                        <li><a href="{% url 'post_category' category.slug %}">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- Widget Category End -->
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Recent Posts</h3>

                                <!-- Widget Post Start -->
                                <div class="widget-post">
                                    {% for post in posts_sidebar|slice:":4" %}
                                        <div class="single-post">
                                            <div class="post-thumb">
                                                <a href="{% url 'post_detail' post.slug %}"><img src="/media/{{post.image}}" alt=""></a>
                                                <!-- <a href="blog-details-left-sidebar.html">
                                                    <img src="assets/images/blog/blog-01.jpg" alt="">
                                                </a> -->
                                            </div>
                                            <div class="post-content">
                                                <h6 class="post-title"><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a></h6>
                                                <span class="date">{{ post.posted_at | date }}</span>
                                            </div>
                                        </div>
                                      
                                    {% endfor %}
                                    <!-- <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="assets/images/blog/blog-01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title"><a href="blog-details-left-sidebar.html">This is Nicholas K Spring 2020 Runway</a></h6>
                                            <span class="date">Nov 12, 2020</span>
                                        </div>
                                    </div>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="assets/images/blog/blog-06.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title"><a href="blog-details-left-sidebar.html">This is Secound Post For XipBlog</a></h6>
                                            <span class="date">Nov 12, 2020</span>
                                        </div>
                                    </div>
                                    <div class="single-post">
                                        <div class="post-thumb">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="assets/images/blog/blog-02.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title"><a href="blog-details-left-sidebar.html">London Fashion Week 2020</a></h6>
                                            <span class="date">Nov 12, 2020</span>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- Widget Post End -->
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Blog Archives</h3>

                                <!-- Widget Category Start -->
                                <div class="widget-link">

                                    <!-- {{ all_posts }} -->
                                    <!-- {% regroup all_posts by posted_at.year as year_list %}

                                    <ul>
                                    {% for year in year_list %}
                                        <li>{{ year.grouper }}
                                            {% regroup year.list by posted_at.month as month_list %}
                                            <ul>
                                            {% for month in month_list %}
                                                <li>
                                                 
                                                    <a href="{% url 'blog:post_archive_month' year.grouper month.grouper %}"> 
                                                        {{ month.list.0.posted_at|date:'b' }} ({{ month.list|length }})
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                    </ul> -->
                                    <ul>
                                        <li><a href="#">January (10)</a></li>
                                        <li><a href="#"> February (08)</a></li>
                                        <li><a href="#"> March (07)</a></li>
                                        <li><a href="#">April (14)</a></li>
                                        <li><a href="#">May (05)</a></li>
                                    </ul>
                                </div>
                                <!-- Widget Category End -->
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget">
                                <h3 class="widget-title">tags</h3>

                                <!-- Widget Tags Start -->
                                <div class="widget-tags">
                                    {% for tag in tags %}
                                    <a href="{% url 'post_tag' tag.slug %}">{{tag.name}}</a>
                                    <!-- {% if not forloop.last %}, {% endif %} -->
                                    {% endfor %}
                                    
                                </div>
                                <!-- Widget Tags End -->
                            </div>
                            <!-- Sidebar Widget End -->

                        </div>
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->

    </section>

{% endblock %}