{% extends "blog/base.html" %}
{% load static %}

{% block sidebar %}


    <!-- START BLOG SIDEBAR SECTION  -->

        <!-- Sidebar Start -->
        <div class="sidebar pt-1">

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
                <h3 class="widget-title">Search</h3>

                <!-- Widget Search Start -->
                <div class="widget-search">
                    <form action="#">
                        <input class="form-control" type="text" placeholder="Search">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- Widget Search End -->
            </div>
            <!-- Sidebar Widget End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
                <h3 class="widget-title">Category</h3>

                <!-- Widget Category Start -->
                <div class="widget-link">
                    <ul>
                        {% for category in categories %}
                        <li><a href="#">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Widget Category End -->
            </div>
            <!-- Sidebar Widget End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
                <h3 class="widget-title">Popular Post</h3>

                <!-- Widget Post Start -->
                <div class="widget-post">
                    {% for post in posts|slice:":4" %}
                        <div class="single-post">
                            <div class="post-thumb">
                                <a href="{% url 'post_detail' post.slug %}"><img src="/media/{{post.image}}" alt=""></a>
                                <!-- <a href="blog-details-left-sidebar.html">
                                    <img src="assets/images/blog/blog-01.jpg" alt="">
                                </a> -->
                            </div>
                            <div class="post-content">
                                <h6 class="post-title"><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a></h6>
                                <span class="date">{{ post.posted_at | date }}</span>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
                <!-- Widget Post End -->
            </div>
            <!-- Sidebar Widget End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
                <h3 class="widget-title">Blog Archives</h3>

                <!-- Widget Category Start -->
                <div class="widget-link">
                    <ul>
                        <li><a href="#">January (10)</a></li>
                        <li><a href="#"> February (08)</a></li>
                        <li><a href="#"> March (07)</a></li>
                        <li><a href="#">April (14)</a></li>
                        <li><a href="#">May (05)</a></li>
                    </ul>
                </div>
                <!-- Widget Category End -->
            </div>
            <!-- Sidebar Widget End -->

            <!-- Sidebar Widget Start -->
            <div class="sidebar-widget">
                <h3 class="widget-title">tags</h3>

                <!-- Widget Tags Start -->
                <div class="widget-tags">
                    {% for tag in tags %}
                    <a href="{% url 'post_tag' tag.slug %}">{{tag.name}}</a>
                    <!-- {% if not forloop.last %}, {% endif %} -->
                    {% endfor %}
                    
                </div>
                <!-- Widget Tags End -->
            </div>
            <!-- Sidebar Widget End -->

        </div>
        <!-- Sidebar End -->
    
    <!-- END BLOG SIDEBAR SECTION  -->

{% endblock %}