

<div class="col-md-6">
    <!-- Single Blog Start -->
    <div class="single-blog">
        <div class="blog-images">
            <div class="post-meta">
                <small>
                    <span class="meta-date">{{ post.posted_at | date }}</span>
                    <span class="meta-author">Posted by <span> {{ post.author }} </span></span>
                </small>

            </div>
            <a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image.url }}" alt=""></a>
            <div class="meta-category">
                <a href="{% url 'post_category' post.category.slug %}">{{ post.category }}</a>
            </div>
        </div>
        <div class="blog-content">
            <h4 class="blog-title"><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a>
            </h4>
            {{ post.description | safe }}

        </div>
        <a href="{% url 'post_detail' post.slug %}">Read more</a>
    </div>
    <!-- Single Blog end -->
</div>