{% extends "blog/base.html" %}



{% block inner_content %}
        <!-- START BLOG POSTS SECTION  -->
        <div class="blog-wrapper">
            {% if category_slug == None and tag_slug == None %}
            <div class="row">
                {% for post in featured_post %}
                    {% if post.featured %}
                    <h1>Featured Post</h1>
                    <div class="col-12">
                        <!-- Single Blog Start -->

                        <div class="single-blog">
                            <div class="blog-images">
                                <div class="post-meta">
                                    <small>
                                        <span class="meta-date">{{ post.posted_at | date }}</span>
                                        <span class="meta-author">Posted by <span> {{ post.author }} </span></span>
                                    </small>

                                </div>
                                <a href="{% url 'post_detail' post.slug %}"><img src="{{post.image.url}}" alt=""></a>
                                <div class="meta-category">
                                    <a href="{% url 'post_category' post.category.slug %}">{{ post.category }}</a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h4 class="blog-title"><a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a>
                                </h4>
                                {{ post.description | safe }}

                            </div>
                            <a href="{% url 'post_detail' post.slug %}">Read more</a>
                        </div>
                        <!-- Single Blog end -->
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% endif %}
            <div class="row">
              
                <h1>Posts</h1>
              
                <!-- Include blog body -->
                {% for post in posts %}
                
                    {% if category_slug != None or archive == True   %}
                        
                        {% include 'blog/blog_body.html' %}

                    {% elif category_slug == None %}
                        {% if query %}
                        <h5> You Searched For {{query}}</h5>
                            {% include 'blog/blog_body.html' %}
                        {% endif %}

                        {% if not post.featured and not query %}
                            {% include 'blog/blog_body.html' %}                    
                        {% endif %}
                    {% endif %}
                    
                {% endfor %}

            </div>

            <div class="page-pagination">
                {% if posts.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i
                                class="fas fa-angle-left"></i></a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link"><i class="fas fa-angle-left"></i></span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span
                                        class="sr-only">(current)</span></span></li>
                        {% else %}
                             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><i
                                class="fas fa-angle-right"></i></a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link"><i class="fas fa-angle-right"></i></span>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <!-- Page pagination End -->
        </div>
        <!-- END BLOG POSTS SECTION  -->
{% endblock %}