{% extends "blog/base.html" %}


{% block inner_content %}
       
  <!-- START POSTS DETAILS SECTION  -->

        <div class="blog-details">
   
                <div class="post-meta">
                    <small>
                        <span class="meta-date">{{ post.posted_at | date }}</span>
                        <span class="meta-author">Posted by <span> {{ post.author }} </span></span>
                    </small>
                </div>
                <h4 class="blog-title">{{ post.title }}</h4>
                <img src="/media/{{post.image}}" alt="">
                
                <div class="blog-body">{{ post.body | safe }}</div>

                <div class="blog-dec-tags-social">
                    <div class="blog-dec-tags">
                        <span>Tags:</span>
                        <ul class="tags">
                            {% for tag in post.tags.all %}
                            <li><a href="{% url 'post_tag' tag.slug %}">{{tag.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-dec-social">
                        <span>Share:</span>
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            
        </div>
        <!-- Blog Details End -->

        <!-- Blog Comment Start  -->
        <div class="blog-comment">
            <div class="comment-wrapper section-padding">
                <div class="allauth-form-inner-content">
                    <h2 class="comment-title">Leave a comment</h2>

                    <form method="post" action=".">

                            {% csrf_token %}
                            {{ form|crispy }}
                        
                    <button class="btn btn-outline-dark btn-round rounded-3" type="submit">Submit</button>

                    </form>
                </div>
            </div>
            <div class="comment-wrapper section-padding">
                <h2 class="comment-title">Comments ( {{ post.comments.all.count }} ) </h2>

                <ul class="comment-items">
                    {% for comment in post.comments.all %}
                    <li>
                        <div class="single-comment">
                            <div class="comment-content">
                            <blockquote>
                                <p>{{ comment.body }}</p>
                                <footer><span class="avater-name">{{ comment.name }}</span> | <span class="date">{{ comment.created_at | timesince }}</span> ago</footer>
                            </div>
                        </div>
                        <hr>

                    </li>
                    {% empty %}
                    <li>
                        <div class="notification">
                            <p>No comments yet...</p> 
                        </div>
                    </li>
                        
                    {% endfor %}
                </ul>
            </div>

            
        </div>
        <!-- Blog Comment End  -->

    <!-- END BLOG POSTS SECTION  -->

{% endblock %}