{% extends "blog/base.html" %}


{% block inner_content %}
       
  <!-- START POSTS DETAILS SECTION  -->

        <div class="blog-details">
   
            <div class="post-meta">
                <small>
                    <span class="meta-date">{{ post.posted_at | date }}</span>
                    <span class="meta-author">Posted by <span> {{ post.author }} </span></span>
                </small>
            </div>
            <h4 class="blog-title">{{ post.title }}</h4>
            <img src="{{ post.image.url }}" alt="">
            
            <div class="blog-body">{{ post.body | safe }}</div>

            <div class="blog-dec-tags-social">
                <div class="blog-dec-tags">
                    <span>Tags:</span>
                    <ul class="tags">
                        {% for tag in post.tags.all %}
                        <li><a href="{% url 'post_tag' tag.slug %}">{{tag.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Blog Details End -->

        <!-- Blog Comment Start  -->
        <div class="blog-comment">
            <div class="comment-wrapper section-padding">
                <h2 class="comment-title">Comments ( {{ post.comments.all.count }} ) </h2>
                <div class="allauth-form-inner-content">

                    {% if request.user.is_authenticated %}

                        <h2 class="mt-0"><a href="#postComment" class="btn btn-link link-primary ps-4" data-bs-toggle="collapse" 
                            role="button" aria-label="Leave a comment" aria-expanded="false" aria-controls="postComment">Leave a comment</a></h2>
                        
                        <div class="collapse" id="postComment">
                            <div class="card card-body">
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-outline-dark btn-round rounded-3" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                   
                    {% else %}
                        <a class="btn btn-link link-primary ps-4 pe-0" href="{% url 'account_signup' %}" aria-label="Signup">Register</a> or 
                        <a class="btn btn-link link-primary px-0" href="{% url 'account_login' %}" aria-label="Login">login</a> to leave a comment.
                    {% endif %}
                </div>

                <ul class="comment-items pt-2">
                    {% for comment in post.comments.all %}
                    <li>
                        <div class="single-comment">
                            <div class="comment-content">
                            <blockquote>
                                <p class="comment-content">{{ comment.body }}</p>
                                <footer><span class="avater-name">{{ comment.name }}</span> | <span class="date">{{ comment.created_at | timesince }} ago</span></footer>
                            </div>
                        </div>
                        <hr>

                    </li>
                    {% empty %}
                    <li>
                        <div class="notification">
                            <p>No comments yet...</p> 
                        </div>
                    </li>
                        
                    {% endfor %}
                </ul>
            </div>

            
        </div>
        <!-- Blog Comment End  -->

    <!-- END BLOG POSTS SECTION  -->

{% endblock %}