{% load static %}
{% load cart_tools %}

<!doctype html>
<html lang="en">

<head>
	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
        <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap_theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<script src="https://kit.fontawesome.com/7432ab4d43.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
			crossorigin="anonymous"></script>
	<!-- Stripe JS -->
	<script src="https://js.stripe.com/v3/"></script>

	{% endblock %}

	{% block extra_js %}

	{% endblock %}

	<title>Shop for Buddhas {% block extra_title %}{% endblock %}</title>
</head>
<body>
   <!-- Search START -->
   <div class="px-search-full collapse bg-dark p-3 z-index-999 position-fixed w-100 top-0" id="search-open">
    <div class="container position-relative">
        <div class="row vh-100 justify-content-center">
            <div class="col-lg-8 pt-12">
                <h2 class="h1">
                    <span class="d-block text-white">Search</span>
                </h2>
                <form class="position-relative w-100" method="GET" action="{% url 'products' %}">
                    <div class="mb-3 input-group">
                        <!-- Search input -->
                        <input class="form-control border-0 shadow-none" id="search-shop" type="text" name="q" placeholder="Search the shop.">
                        <!-- Search button -->
                        <button type="submit" class="btn btn-sm rounded-3 btn-primary shadow-none">
							<i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="pt-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-6 white-link">
									<a class="nav-link px-0" href="{% url 'blog_posts' %}">
                                        <i class="fas fa-angle-right me-1"></i> Blog
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'profile' %}">
                                        <i class="fas fa-angle-right me-1"></i> Profile
                                    </a>
                                   
                                </div>
                                <div class="col-6 white-link">
                                    <a class="nav-link px-0" href="{% url 'products' %}?category=oxidised,half_gold,full_gold">
                                        <i class="fas fa-angle-right me-1"></i> Shop: All Buddha Statues
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'products' %}?category=mala_108,mala_wrist">
                                        <i class="fas fa-angle-right me-1"></i> Shop: All Malas
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'products' %}?sort=category&direction=asc">
                                        <i class="fas fa-angle-right me-1"></i> Shop: By Category
                                    </a>
                                    <a class="nav-link px-0" href="{% url 'products' %}?sort=price&direction=asc">
                                        <i class="fas fa-angle-right me-1"></i> Shop: By Price
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search button close START -->
            <a class="search-close" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
                <i class="bi bi-x p-0 lh-1"></i>
            </a>
            <!-- Search button close END -->
        </div>
    </div>
</div>
<!-- Search END -->
<!-- Mini Cart -->
<div class="modal px-modal-right fade" id="modalMiniCart" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Shopping Cart -->
    <div class="modal-dialog px-modal-vertical">
        <div class="modal-content">
            <!-- Header-->
            <div class="modal-header border-bottom">
                <h6 class="m-0 fw-bold">
                    Your Cart (	
						{% if product_count %}
							{{ product_count }}
						{% else %}
							0
						{% endif %})
                </h6>
                <!-- Close -->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <!-- List group -->
                <ul class="list-unstyled m-0 p-0">
					{% if cart_items %}
						{% for item in cart_items %}
						<li class="py-3 border-bottom">
							<div class="row align-items-center">
								<div class="col-4">
									<!-- Image -->
									{% if item.product.image %}
										<a href="{{ item.product.image.url }}" data-toggle="lightbox">
											<img class="img-fluid border" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" title="">
										</a>
									{% else %}
										<a href="#">
											<img class="img-fluid border" src="{{ MEDIA_URL }} noimage.png" alt="{{ item.product.name }}"  title="">
										</a>
									{% endif %}
								</div>
								<div class="col-8">
									<!-- Title -->
									<p class="mb-2">
										<a class="text-dark fw-500" href="#">{{ item.product.name }}</a>
										<span class="m-0 text-muted w-100 d-block">${{ item.product.price | calc_subtotal:item.quantity  }}</span>
									</p>
									<!--Footer -->
									<div class="d-flex align-items-center">
										<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
											{% csrf_token %}
											<div class="cart-qty d-inline-flex">
												<!-- <div class="dec qty-btn"
													data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">-</div> -->
													<div class="dec qty-btn"
													data-item_id="{{ item.item_id }}">&minus;</div>
												<!-- <input class="cart-qty-input form-control" 
													type="number" 
													name="quantity" 
													min="1" 
													max="99" 
													value="{{ item.quantity }}"
													data-item_id="{{ item.item_id }}"
													id="id_qty_{{ item.item_id }}"> -->
												<input class="cart-qty-input form-control" 
													type="number" 
													name="quantity" 
													min="1" 
													max="99" 
													value="{{ item.quantity }}"
													data-item_id="{{ item.item_id }}">
												<!-- <div class="inc qty-btn"
													data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">+</div> -->
													<div class="inc qty-btn"
													data-item_id="{{ item.item_id }}">&plus;</div>
											</div>

											<span class="text-primary update-link mx-3" 
												tabindex="0">
												<i class="fas fa-sync-alt"></i>
											</span>

											<!-- <span class="text-danger remove-item me-3"
												id="remove_{{ item.item_id }}"
												data-product-id="{{ item.product.id }}"
												tabindex="0">
											<i class="far fa-trash-alt"></i>
											</span> -->
											<span class="text-danger remove-item me-3"
												data-product-id="{{ item.product.id }}"
												tabindex="0">
											<i class="far fa-trash-alt"></i>
											</span>

										</form>
									</div>
								</div>
							</div>
						</li>
						{% endfor %}
					{% else %}
					<li>
						<p class="lead mb-5">Your bag is empty.</p>
						<div class="d-flex">
							<a class="btn btn-outline-dark" href="{% url 'products' %}">
								<i class="fas fa-chevron-left mt-sm-0 me-1"></i>
								<span class="d-none d-sm-inline">Continue Shopping</span>
								<span class="d-inline d-sm-none">Back</span>
							</a>
						</div>
					</li>
					
					{% endif %}
                </ul>
            </div>
            <!-- Footer -->
            <div class="mt-auto p-3 pt-0">
                <div class="row g-0 py-2">
                    <div class="col-8">
                        <span class="text-dark">Subtotal</span>
                    </div>
                    <div class="col-4 text-end">
                        <span class="ml-auto">${{ total | floatformat:2 }}</span>
                    </div>
                </div>
                <div class="row g-0 pt-2 mt-2 border-top fw-bold text-dark">
                    <div class="col-8">
                        <span class="text-dark">Grand Total</span>
                    </div>
                    <div class="col-4 text-end">
                        <span class="ml-auto">${{ grand_total | floatformat:2 }}</span>
                    </div>
                </div>
                <div class="pt-4">
                    <a class="btn btn-block btn-dark w-100 mb-3" href="{% url 'checkout' %}">Continue to Checkout</a>
                    <a class="btn btn-block btn-outline-dark w-100" href="{% url 'view_cart' %}">View Cart</a>
                </div>
            </div>
            <!-- Buttons -->
        </div>
    </div>
</div>
<!-- End Mini Cart -->
	<!-- Header -->
	<header class="header-main bg-white header-light fixed-top header-height">
		<!-- Top Header -->
		<div class="header-top header-border-bottom small bg-black">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<!-- Left -->
					<div class="d-flex align-items-center justify-content-center d-none d-lg-block">
						<ul class="nav white-link ">
							<li class="nav-item me-3 text-white-85 ">
								<span>
									<i class="bi bi-clock me-2"></i> Open: Mon-Sat 9:00-19:00
								</span>
							</li>
							<li class="nav-item">
								<a href="#" class="navbar-link">
									<i class="bi bi-headset me-2"></i> Call us now: +49 035-477-5588
								</a>
							</li>
						</ul>
					</div>
					<!-- Right -->
					<div class="d-flex align-items-center justify-content-center w-100 w-lg-auto">
						<!-- Top link -->
						<ul class="nav ms-auto ms-lg-3">
							<li class="nav-item">
								<a href="{% url 'home' %}#contact" class="nav-link text-white">Contact</a>
							</li>
							<li class="nav-item">
								{% if request.user.is_authenticated %}
									<a class="nav-link text-white" href="{% url 'account_logout' %}"><i class="bi bi-person-circle me-2"></i>Logout</a>
								{% else %}
									<a class="nav-link text-white" href="{% url 'account_login' %}"><i class="bi bi-person-circle me-2"></i>Login</a>
								{% endif %}
							</li>
						</ul>
						<!-- Top social -->
						<div class="nav header-social justify-content-end d-none d-lg-block white-link">
							<a class="h-social-link" href="https://www.facebook.com/KIBInstitute" target="blank"><i class="bi bi-facebook"></i></a>
							<a class="h-social-link" href="https://de.linkedin.com/in/daidensacha" target="blank"><i class="bi bi-linkedin"></i></a>
							<a class="h-social-link" href="https://github.com/daidensacha" target="blank"><i class="bi bi-github"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Top Header -->
		<nav class="navbar navbar-expand-lg navbar-light" id="main-navbar">
			<div class="container">
				<!-- Logo -->
				<a class="navbar-brand" href="{% url 'home' %}">
					<span class="brand-heading">Shop for Buddhas</span>
				</a>
				<!-- Menu -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<!-- home link -->
						<li class="nav-item">
							<a href="{% url 'home' %}" class="nav-link">Home</a>
						</li>
						<!-- Shop link -->
						<li class="nav-item dropdown dropdown-full has-megamenu" id="product-megamenu">
							<a href="#" id="mega-dropdown" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Shop</a>
							<label class="px-dropdown-toggle mob-menu"></label>
							<div class="dropdown-menu megamenu dropdown-menu-lg py-lg-2 fade-down bg-white" id="product-megadropdown" role="menu" aria-labelledby="mega-dropdown">
								<div class="container-fluid px-0">
									<!-- START ROW -->
									<div class="row g-0">
										<div class="col-12 col-md-3 offset-md-1 my-3">
                                            <!-- START FIRST MEGAMENU COLUMN -->
											<div class="row">
												<div class="col-6 col-sm-6 text-end">
													<img class="rounded megamenu-image"  src="{% static 'img/BFG5002001.jpg' %}" alt="">
												</div>
												<div class="col-6 col-sm-6">
													<h6 class="px-3 text-uppercase">Filter</h6>
													<ul class="list-unstyled">
														<li>
															<a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
														</li>
														<li>
															<a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
														</li>
														<li>
															<a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
														</li>
														<li>
															<a href="{% url 'products' %}" class="dropdown-item">All Products</a>
														</li>
													</ul>
												</div>
											</div>
                                            <!-- END FIRST MEGAMENU COLUMN -->
										</div>
                                        <!-- START SECOND MEGAMENU COLUMN -->
										<div class="col-12 col-md-4 my-3">
											<div class="row">
												<div class="col-6 col-sm-6 text-end">
													<img class="rounded megamenu-image" src="{% static 'img/BO5002001.jpg' %}" alt="">
												</div>
												<div class="col-6 col-sm-6">
													<h6 class="px-3 text-uppercase">Statues</h6>
													<ul class="list-unstyled">
														<li>
															<a href="{% url 'products' %}?category=oxidised"
																class="dropdown-item">Oxidised</a>
														</li>
														<li>
															<a href="{% url 'products' %}?category=half_gold"
																class="dropdown-item">Half Gold</a>
														</li>
														<li>
															<a href="{% url 'products' %}?category=full_gold"
																class="dropdown-item">Full Gold</a>
														</li>
														<li>
															<a href="{% url 'products' %}?category=oxidised,half_gold,full_gold"
																class="dropdown-item">All
																Statues</a>
														</li>
													</ul>
												</div>
												<!--           END COLUMN 2             -->
											</div>
										</div>
                                        <!-- END SECOND MEGAMENU COLUMN -->
                                        <!-- START THIRD MEGAMENU COLUMN -->
										<div class="col-12 col-md-3 my-3">
											<div class="row">
												<div class="col-6 col-sm-6 text-end">
													<img class="rounded megamenu-image" src="{% static 'img/M108_MA91162.jpg' %}" alt="">
                                                    
												</div>
												<div class="col-6 col-sm-6">
													<h6 class="px-3 text-uppercase">Malas</h6>
													<ul class="list-unstyled">

														<li>
															<a href="{% url 'products' %}?category=mala_108"
																class="dropdown-item">108 Beads</a>
														</li>
														<li>
															<a href="{% url 'products' %}?category=mala_wrist"
																class="dropdown-item">Wrist
																Malas</a>
														</li>
														<li>
															<a href="{% url 'products' %}?category=mala_108,mala_wrist"
																class="dropdown-item">All Malas</a>
														</li>

													</ul>
												</div>
											</div>

										</div>
                                        <!-- END THIRD MEGAMENU COLUMN -->
									</div>
									<!-- END MEGAMENU ROW -->
								</div>
							</div>
						</li>

						<li class="nav-item">
							<a href="{% url 'blog_posts' %}" class="nav-link">Blog</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'home' %}#contact" class="nav-link">Contact</a>

						</li>
					</ul>
				</div>
				<!-- End Menu -->
				<div class="nav flex-nowrap align-items-center header-right">
					<!-- Nav Search -->
					<div class="nav-item">
						<a class="nav-link collapsed" id="search-trigger" data-bs-toggle="collapse" href="javascript:void(0)"
							data-bs-target="#search-open" aria-expanded="false">
							<i class="bi bi-search"> </i>
						</a>
					</div>
					<!-- Acount -->
					<div class="nav-item dropdown">
						<a class="nav-link" href="#"  id="dropdown_myaccount" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="bi bi-person-circle"> </i>
						</a>
						<div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdown_myaccount">
							{% if request.user.is_authenticated %}
                                {% if request.user.is_superuser or request.user.user_type == "is_vendor" %}
									<a  class="dropdown-item" href="{% url 'add_product' %}">Product Management</a>
								{% endif %}
								<a class="dropdown-item" href="{% url 'profile' %}">My profile</a>
								<a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
							{% else %}
								<a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
								<a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
								<!-- <a class="dropdown-item" href="#">Wishlist</a> -->
							{% endif %}

						</div>

					</div>
					<!-- Wishlist -->
					<div class="nav-item d-none d-xl-block">
						<a class="nav-link" href="{% url 'profile' %}"> <i class="bi bi-heart"> </i> </a>
					</div>
					<!-- Cart -->
					<div class="nav-item">
						<a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalMiniCart"
							href="javascript:void(0)">
							<span class="" 
									data-cart-items="
									{% if product_count %}
										{{ product_count }}
									{% else %}
										0
									{% endif %}">
								<i class="bi bi-cart"> </i>
							</span>
						</a>
					</div>
					<!-- Mobile Toggle -->
					<button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- End Mobile Toggle -->
				</div>
			</div>
		</nav>
	</header>
	<!-- header container to push body below fixed navbar -->
	<div class="container header-container bg-white" id="header-spacer"></div>
	{% if messages %}
		<div class="message-container" >
			{% for message in messages %}
				{% with message.level as level %}
					{% if level == 40 %}
						{% include 'includes/toasts/toast_error.html' %}
					{% elif level == 30 %}
						{% include 'includes/toasts/toast_warning.html' %}
					{% elif level == 25 %}
						{% if "is_cart" in message.extra_tags %}
							<!-- success cart toast messages -->
							{% include 'includes/toasts/toast_success_cart.html' %}
						{% else %}
							<!-- success toast messages -->
							{% include 'includes/toasts/toast_success.html' %}
						{% endif %}
					{% else %}
						{% include 'includes/toasts/toast_info.html' %}
					{% endif %}
				{% endwith %}
			{% endfor %}
		</div>
	{% endif %}

	{% block page_header %}
	{% endblock %}
		
	{% block content %}
	{% endblock %}

	{% block services %}
	{% endblock services %}

	{% block features %}
	{% endblock features %}

	{% block testimonial %}
	{% endblock %}

	{% block contact %}
	{% endblock %}

	{% block footer %}
    {% include 'includes/footer.html' %}
	{% endblock footer %}
	
	{% block backtotop %}
    	{% include 'includes/backtotop.html' %}
	{% endblock backtotop %}

	{% block postloadjs %}
	{{ block.super }}
		{% include 'includes/javascript.html' %}
	{% endblock %}

	<script src="{% static 'js/index.bundle.min.js' %}"></script>
</body>

</html>
