{% extends "base.html" %}
{% load static %}



{% block content %}

  <!-- <div class="container-fluid bg-white min-vh-60">
      <div class="row">
          <div class="col-6 mx-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary">
            </form>
          </div>
      </div>
  </div> -->
    <!-- <form method="POST" enctype="multipart/form-data"> -->
      <div class="container-fluid bg-white min-vh-60">
        <div class="section" id="allauth-forms">
            <!-- <div class="overlay"></div> -->
            <div class="row my-5">
                <div class="col-12 col-lg-6 mx-auto my-5">
                  <h2>Upload Product</h2>

                    <!-- <div class="allauth-form-inner-content"> -->
                      <div class="">
                      
                      <form method="POST" enctype="multipart/form-data"></form>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary">
                      </form>
                    </div>
                </div>
            </div>
        </div>
      </div>

{% endblock %}

