<div class="toast toast-success rounded-2 mt-2" data-bs-animation="false">
    <div class="toast-header text-white"> 
        <strong class="me-auto">Success</strong>
        <button type="button" 
        class="btn-close btn-close-white" 
        data-bs-dismiss="toast" 
        aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white text-start">
        <div class="row">
            <div class="col">
                <p class="text-start">{{ message }}</p>
            </div>
        </div>
    </div>
</div>
